
body {
    background: no-repeat;
    background-image: url('friends2.png');
    background-size: cover;
    
    
    
}

h1{
    text-align: center;
}


div{
    font-family: monospace;
    position: relative;
    
    
}



.datos{
    
   
    margin: 6px;
    padding: 2px;
    border: solid;
    border-color: rgb(115, 34, 152);
    background-color: rgba(196, 109, 237, 0.619);
    font-weight: bold;
    background-size: cover;
   
    
}  

.experiencia{
  
    margin: 6px;
    padding: 2px;
    border: solid;
    border-color: rgb(115, 34, 152);
    background-color: rgba(196, 109, 237, 0.619);
    font-weight: bold;
    background-size: cover;

}

.izquierda{
    width: 260px;
    float:left;

}

.texto{
    background-color: transparent;

}

.presentacion{
    text-align:center;
    margin-left: 280px;
    padding: 4 4 4 4px; 
    
    border: solid;
    border-color: rgb(115, 34, 152);
    background-color: rgba(196, 109, 237, 0.619);
    font-weight: bold;
    background-size: cover;
}
.idiomas{
    text-align:center;
    margin-left: 280px;
    padding: 4 4 4 4px; 
    top: 20px;
    border: solid;
    border-color: rgb(115, 34, 152);
    background-color: rgba(196, 109, 237, 0.619);
    font-weight: bold;
    background-size: cover;
}
