
body {
    background: no-repeat;
    background-image: url('friends.jpg');
    background-size: cover;
    
    
    
}

h1{
    text-align: center;
}


div{
    font-family: monospace;
    position: relative;
    
    
}


.datos{
    
   
    margin: 6px;
    padding: 2px;
    border: solid;
    border-color: rgb(206, 186, 33);
    background-image: url('girasol.jpg');
    font-weight: bold;
    background-size: cover;
   
    
}  

.experiencia{
  
    margin: 6px;
    padding: 2px;
    border: solid;
    border-color: rgb(206, 186, 33);
    background-image: url('girasol.jpg');
    font-weight: bold;
    background-size: cover;

}

.izquierda{
    width: 260px;
    float:left;

}

.texto{
    background-color: transparent;

}

.presentacion{
    text-align:center;
    margin-left: 170px;
    padding: 4 4 4 4px; 
    width: 460px;
}
