
body {
    background: no-repeat;
    background-image: url('fondo.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}
h2{
    
    text-align:center;
    margin: 4px;
    padding: 1px;
    border: rgb(159, 92, 218) 8px outset;
    background-image: url("colores.jpeg");
    font-weight: bold;
    background-size: cover;
    color: black;
    font: small-caps 100%/200% serif;
    font-size: large;
}

h3{
    color: black;
    font: small-caps 100%/200% serif;
    font-size: large;
}
 
ul{
    list-style-image: url("marco.ico");
    color: black;
}

.foto{
    display:block;
    border: none;
    margin:auto;
    padding: 60px;
    margin-bottom: 20px;
    margin-top: -20px;
    background-image: url("marco.png");
    background-size: cover;
    width: 130px;
  
}



.insta{
    list-style-image: url("insta.ico");
}
.face{
    list-style-image: url("face.ico");
}


#nombre{
    width: 210px;
    margin: 6px;
    padding: 2px;
    border: solid;
    border-radius: 30px;
    border-color: rgb(115, 34, 152);
    background-color: rgba(196, 109, 237, 0.619);
    font-weight: bold;
    background-size: cover;
    
}

.fila1{
    color: black;
}
.fila21{
    color: rgb(255, 61, 61);
}
.fila22{
    color: rgb(255, 244, 94);
}
.fila23{
    color: rgb(130, 199, 242);
}

.datos{
    margin: 6px;
    padding: 2px;
    border: solid;
    border-radius: 20px;
    border-color: rgb(207, 195, 29);
    background-color: rgba(232, 247, 135, 0.619);
    font-weight: bold;
    background-size: cover;
}  
    


.experiencia{
    margin: 6px;
    padding: 2px;
    border: solid;
    border-radius: 20px;
    border-color: rgb(21, 127, 193);
    background-color: rgba(117, 192, 242, 0.619);
    font-weight: bold;
    background-size: cover;

}


.izquierda{
    width: 235px;
    float:left;

}


.presentacion{
    width: 450px;
    margin: 6px;
    padding: 2px;
    text-align:center;
    margin-left: 280px;
    border: rgb(182, 93, 227) 5px outset;
    
    background: no-repeat;
    background-image: url("gif.webp");
    background-size: cover;
    font-size: large;
    color: white;
    
    
}
.idiomas{
    width: 450px;
    margin: 6px;
    padding: 2px;
    margin-left: 280px;
    border: rgb(177, 26, 26) 5px outset;
    background-color: rgba(237, 130, 130, 0.619);
    font-weight: bold;
    background-size: cover;
    color:black;
}

.aficiones{
    width: 450px;
    margin: 6px;
    padding: 2px;
    margin-left: 280px;
    border: rgb(177, 26, 26) 5px outset;
    background-color: rgba(237, 130, 130, 0.619);
    font-weight: bold;
    background-size: cover;
    color:black;
}

.referencias{
    width: 450px;
    margin: 6px;
    padding: 2px;
    margin-left: 280px;
    border-color: rgb(115, 34, 152);
    background-color: rgba(196, 109, 237, 0.619);
    font-weight: bold;
    background-size: cover;
    color:black;
}
