@font-face{
    font-family: 'coco';
    src: url("Coco.otf");
}

body{
    background: no-repeat;
    background-image: url("fondo2.jpg");
    background-size: cover;
    text-align: center;
    
}

input{
    background-size: contain;
    font-family: 'coco';
    font-size: 40px;
    margin: 20px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(123, 61, 177);
}

#btn_video1{
    background-color: rgb(224, 71, 54);
    border-color: rgb(131, 27, 3);
}

#btn_video2{
    background-color: rgb(224, 147, 54);
    border-color: rgb(131, 69, 3);
}

#btn_video3{
    background-color: rgb(197, 74, 168);
    border-color: rgb(131, 3, 101);
}

#btn_video4{
    background-color: rgb(72, 148, 207);
    border-color: rgb(3, 80, 131);
}