
@font-face{
    font-family: 'KingKong';
    src: url("kingkong.ttf");
}

@font-face{
    font-family: 'Avenir';
    src: url("Metropolis-ExtraLight.otf");
}

body{
    background: no-repeat;
    background-image: url('ciudad.jpg');
    background-size: cover;
    font-family: 'KingKong';
    text-align: center;
}

h1{
    
    font-size: 50px;
}
h2{
    
    font-size: 30px;

}
button{
    background-size: contain;
    font-family: 'Avenir';
    font-size: 40px;
    margin: 20px;

}

.imagenes{
    column-count: 2;
    font-size: 30px;
    color: white;
    
}

.deslizantes{
    color: white;
    font-size: 30px;
    font-family: 'Avenir';
    column-count: 3;
    background-color: rgb(172, 84, 172);
    opacity: 0.9;
    
}

.seleccion{
    color: white;
    font-size: 30px;
}

#origen{
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(172, 84, 172);
    background-color: rgb(245, 185, 245);
    margin-top: 100px;
}

#gris{
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(172, 84, 172);
    background-color: rgb(245, 185, 245);
    margin-top: 100px;
}

#rgb{
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(172, 84, 172);
    background-color: rgb(245, 185, 245);
    margin-top: 100px;
}

#espejo{
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(172, 84, 172);
    background-color: rgb(245, 185, 245);
    margin-top: 100px;
}
#invertir{
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(172, 84, 172);
    background-color: rgb(245, 185, 245);
    margin-top: 100px;
}

#ruido{
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(172, 84, 172);
    background-color: rgb(245, 185, 245);
    margin-top: 100px;
}

#img1{
    background-color: white;
}

#img2{
    background-color: white;
}

#original{
    border: solid;
    border-color: white;
    
}

#canvas{
    border: solid;
    border-color: white;
    
}
