
@font-face{
    font-family: 'KingKong';
    src: url("kingkong.ttf");
}

@font-face{
    font-family: 'Avenir';
    src: url("Metropolis-ExtraLight.otf");
}

body{
    background-color: pink;
    font-family: 'KingKong';
    text-align: center;
}

h1{
    
    font-size: 50px;
}
h2{
    
    font-size: 30px;
}
button{
    background-size: contain;
}

.imagenes{
    column-count: 2;
    font-size: 30px;
    font-family: 'Avenir';
    
}