
@font-face{
    font-family: 'KingKong';
    src: url("kingkong.ttf");
}

@font-face{
    font-family: 'Avenir';
    src: url("Metropolis-ExtraLight.otf");
}

body{
    background-color: pink;
    font-family: 'KingKong';
    text-align: center;
}

h1{
    
    font-size: 50px;
}
h2{
    
    font-size: 30px;
}
button{
    background-size: contain;
    font-family: 'Avenir';
    font-size: 40px;
    margin: 20px;
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(172, 84, 172);
    background-color: rgb(245, 185, 245);
}

.imagenes{
    column-count: 2;
    font-size: 30px;
    border-radius: 20px;
    
    
}